h1 {
  background-color: green;
}

p {
   background-color: grey;
}

/*** Desktop layout ***/
@media (min-width: 992px){
    p {
       background-color: red;
    }
}

/*** Tablet layout ***/
@media (min-width: 768px) and (max-width: 991px) {
    p {
       background-color: blue;
    }
}

/*** Mobile layout ***/
@media (max-width: 767px) {
    p {
       background-color: green;
    }
}
